/* Estilo general para el body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #8539c2;
    color: #fff;
    padding: 10px 0;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

/* Estilo para el contenedor principal */
.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
    text-align: center;
}

/* Estilo para el botón de búsqueda */
#searchButton {
    background-color: #8539c2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#searchButton:hover {
    background-color: #6e2eaa;
}

/* Estilo para la etiqueta de selección */
label {
    font-weight: bold;
}

/* Estilo para la sección de tarjetas de productos */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Estilo para el contenedor de las tarjetas de productos */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
}

/* Estilo para las tarjetas de productos */
.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    max-width: 30%;
    margin-bottom: 20px;
}

/* Estilo para la imagen dentro de la tarjeta */
.card img {
    max-width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

/* Estilo para el precio de los productos */
.card h4 {
    font-weight: bold;
    color: #8539c2;
}

/* Estilo para el nombre del producto */
.card h5 {
    font-weight: bold;
    margin: 5px 0;
}

/* Estilo para la descripción y otros detalles del producto */
.card p {
    font-size: 14px;
    margin: 5px 0;
}

/* Consulta de medios para pantallas de 700 píxeles o menos */
@media (max-width: 700px) {
    /* Cambiamos la disposición de las tarjetas a columna */
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
    /* Eliminamos el margen inferior para evitar espacios innecesarios */
    .card {
        margin-bottom: 0;
    }
}
