/* Estilos generales para el formulario */
#dataForm {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Estilos para las etiquetas de los campos */
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada de texto y números */
  .form-control {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilos para el botón de envío */
  .btn-primary {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el mensaje de éxito */
  #successMessage {
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Estilos para el contenedor principal */
  .container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  