/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón */
#eliminarButton {
    background-color: #ff6347; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#eliminarButton:hover {
    background-color: #ff4830; /* Color de fondo al pasar el mouse */
}

/* Estilos para el campo de entrada de texto */
#productoID {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
}
/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Estilo para el título */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para el botón */
#eliminarButton {
    background-color: #ff4d4d; /* Cambia el color de fondo a tu elección */
    color: #fff; /* Cambia el color del texto a tu elección */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo para el botón al pasar el cursor sobre él */
#eliminarButton:hover {
    background-color: #ff6666; /* Cambia el color de fondo al pasar el cursor a tu elección */
}

/* Estilo para el select */
#productoID {
    width: 100%;
    height: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

/* Estilos para el título */
h2 {
    font-size: 24px;
    color: #333;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 400px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
